@charset "utf-8";

@include keyframes(moveNoise) {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 100% 100%;
	}
	40% {
		background-position: 40% 80%;
	}
	60% {
		background-position: 5% 45%;
	}
	80% {
		background-position: 60% 40%;
	}
	100% {
		background-position: 5% 85%;
	}
}

@include keyframes(flashBk) {
	50% {
		background-color: #fff;
	}
}

@include keyframes(flashBk_re) {
	50% {
		color: #000;
	}
}

@include keyframes(textTypo) {
	0% {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}
