@charset "utf-8";

@include keyframes(moveNoise) {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 100% 100%;
	}
	40% {
		background-position: 40% 80%;
	}
	60% {
		background-position: 5% 45%;
	}
	80% {
		background-position: 60% 40%;
	}
	100% {
		background-position: 5% 85%;
	}
}

@include keyframes(flashBk) {
	50% {
		background-color: #fff;
	}
}

@include keyframes(flashBk_re) {
	50% {
		color: #000;
	}
}

/*@include keyframes(textTypo_white) {
	0% {
		@include opacity(0);
	}
	10% {
		@include opacity(1);
		color:transparent;
		background-color: #fff;
	}
	50% {
		outline: 1px solid #fff;
		background-color: transparent;
	}
	100% {
		background-color: transparent;
		color:#fff
	}
}*/
@include keyframes(textTypo_white) {
	0% {
		@include opacity(0);
		background-color: #fff;
	}
	50% {
		@include opacity(1);
		background-color: #fff;
	}
	100% {
		@include opacity(1);
		background-color: transparent;
		color: #fff;
	}
}

@include keyframes(textTypo_black) {
	0% {
		@include opacity(0);
		background-color: #000;
	}
	50% {
		@include opacity(1);
		background-color: #000;
	}
	100% {
		@include opacity(1);
		background-color: transparent;
		color: #000;
	}
}
//IE用にアニメーションを分ける
/*
@include keyframes(textTypo_black) {
	0% {
		@include opacity(0);
		outline: 1px solid #000;
	}
//	50% {
//		outline: 1px solid #000;
//	}
	100% {
		@include opacity(1);
		outline: 1px solid transparent;
	}
}
*/

@include keyframes(arrowDown) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	50% {
		@include opacity(0);
		@include transform(translateY(40%));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0));
	}
}

@include keyframes(arrowRight) {
	0% {
		@include opacity(1);
		@include transform(translateY(0) rotate(-90deg));
	}
	50% {
		@include opacity(0);
		@include transform(translateX(40%) rotate(-90deg));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0) rotate(-90deg));
	}
}

@include keyframes(arrowLeft) {
	0% {
		@include opacity(1);
		@include transform(translateY(0) rotate(90deg));
	}
	50% {
		@include opacity(0);
		@include transform(translateX(-40%) rotate(90deg));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0) rotate(90deg));
	}
}
