DirectoryIndex index.html index.htm index.shtml index.php index.cgi .ht
AuthUserFile /home/kojikobayashi/www/test.kde.space/.htpasswd
AuthType Basic
AuthName "Web access"
Require valid-user
Satisfy any
Order allow,deny

RewriteEngine on

RewriteCond %{REQUEST_URI} !/?js/?
RewriteCond %{REQUEST_URI} !/?css/?
RewriteCond %{REQUEST_URI} !/?img/?
RewriteCond %{REQUEST_URI} !/?fonts/?
RewriteCond %{REQUEST_URI} !/?video/?

RewriteCond %{REQUEST_URI} !/sp/
RewriteCond %{HTTP_USER_AGENT} (iPod|iPhone|Android|Windows\ Phone)
RewriteRule ^(.*)$ sp/$1 [R]
RewriteBase /

RewriteCond %{REQUEST_URI} /sp/
RewriteCond %{HTTP_USER_AGENT} !(iPod|iPhone|Android|Windows\ Phone)
RewriteRule ^sp/(.*)$ $1 [R]
RewriteBase /
