/*====================================
* hoverLineAnchor
* ===================================*/
.hoverLineAnchor {
	display: inline-block;
	position: relative;
	color: #ddd;

	&::after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 0;
		height: 1px;
		border-bottom: 1px solid;
		@include transition(.2s ease-out);
	}
	&:hover {
		text-decoration: none;
	}
	&:hover::after {
		width: 100%;
	}
}
//modifier
.hoverLineAnchor.hoverLineAnchor--bottom0 {
	&::after {
		bottom: 0;
	}
}
