/* missionTxt
+++++++++++++++++++++++++++++++++++++*/
.missionTxt {
	@include clearfix;
}

.missionTxt__head {
	line-height: 2;
	margin-top: -12px;
	margin-bottom: 20px;
	color: $color-lgrey;
	font-weight: 500;
	@include fz-rem(30);
	letter-spacing: .05em;
	@include opacity(0);
	@include transform(translateY(30px));
	@include transition(.5s ease-out .3s);

	&.is-start {
		@include opacity(1);
		@include transform(translateY(0));
	}
}

.missionTxt__body {
	line-height: 2;
	color: $color-lgrey;
	@include fz-rem($font-size-base);
	@include clearfix;
	@include opacity(0);
	@include transform(translateY(30px));
	@include transition(.5s ease-out .3s);

	&.is-start {
		@include opacity(1);
		@include transform(translateY(0));
	}
}

.missionTxt__box {
	float: left;
	width: 460px;
	text-align: justify;

	& + & {
		margin-left: 40px;
	}
	> p + p {
		margin-top: 1.5em;
	}
	a {
		@include linkColor($color-green);
	}
}
