/*====================================
* tableList
* ===================================*/
.tableList {
	display: table;
	@include fz-rem($font-size-small);
	@include fontM;
	letter-spacing: .05em;

	@include comment1(modifier);
	//modifier
	&.tableList--profile {
		width: 100%;
	}
	//modifier
	&.tableList--case {
		color: $color-lgrey;
	}
}

.tableList__item {
	display: table-row;
	line-height: 2;
}

.tableList__head {
	display: table-cell;

	@include comment1(modifier);
	//modifier
	.tableList--profile & {
		@include fontB;
	}
	&#{&}--area {
		font-family: $font-family;
	}
}

.tableList__txt {
	display: table-cell;
}

.tableList__txt::before {
	content: '　-　';
}
