@charset "utf-8";

@include keyframes(moveNoise) {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 100% 100%;
	}
	40% {
		background-position: 40% 80%;
	}
	60% {
		background-position: 5% 45%;
	}
	80% {
		background-position: 60% 40%;
	}
	100% {
		background-position: 5% 85%;
	}
}

@include keyframes(moveNoise2) {
	0% {
		transform: translate(0,0);
	}
	20% {
		transform: translate(-20px,18px);
	}
	40% {
		transform: translate(31px,45px);
	}
	60% {
		transform: translate(-5px,-10px);
	}
	80% {
		transform: translate(30px,30px);
	}
	100% {
		transform: translate(-15px,-15px);
	}
}

@include keyframes(flashBk) {
	50% {
		background-color: #fff;
	}
}

@include keyframes(flashBk_re) {
	50% {
		color: #000;
	}
}

@include keyframes(textTypo_white) {
	0% {
		@include opacity(0);
		background-color: #fff;
	}
	50% {
		@include opacity(1);
		background-color: #fff;
	}
	100% {
		@include opacity(1);
		background-color: transparent;
		color: #fff;
	}
}

@include keyframes(textTypo_black) {
	0% {
		@include opacity(0);
		background-color: #000;
	}
	50% {
		@include opacity(1);
		background-color: #000;
	}
	100% {
		@include opacity(1);
		background-color: transparent;
		color: #000;
	}
}

@include keyframes(arrowDown) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	50% {
		@include opacity(0);
		@include transform(translateY(40%));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0));
	}
}

@include keyframes(arrowUp) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	50% {
		@include opacity(0);
		@include transform(translateY(-30%));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0));
	}
}

@include keyframes(arrowRight) {
	0% {
		@include opacity(1);
		@include transform(translateY(0) rotate(-90deg));
	}
	50% {
		@include opacity(0);
		@include transform(translateX(40%) rotate(-90deg));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0) rotate(-90deg));
	}
}

@include keyframes(arrowLeft) {
	0% {
		@include opacity(1);
		@include transform(translateY(0) rotate(90deg));
	}
	50% {
		@include opacity(0);
		@include transform(translateX(-40%) rotate(90deg));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(0) rotate(90deg));
	}
}

@include keyframes(splash1) {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

