@charset "utf-8";

// color
//------------------------------
$color-base: #fff;
$color-link: #00f;
$color-strong: #e00;

$color-lgrey: #ccc;
$color-grey: #999;
$color-blue: #005dab;
$color-orange: #ff6319;
$color-green: #00933c;
$color-red: #ee352e;
$color-gold: #fed90c;


// width
//------------------------------
$width-main: 1000px;
$width-sp: 640px;

// font-family
//------------------------------
$font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;

// font-size
//------------------------------
$font-size-xlarge: 18;
$font-size-large: 16;
$font-size-base: 13;
$font-size-small: 12;
$font-size-xsmall: 10;
