/*====================================
* inlineList
* ===================================*/
.inlineList {
	> li {
		display: inline-block;
	}
	> li:not(:last-child)::after {
		content: ',';
	}
	> li:last-child::after {
		content: '.';
	}
}
