@charset 'utf-8';
// base-sp
//////////////////////////////////////
*,
::before,
::after {
	@include box-sizing;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%; //10px
}

body {
	width: 100%;
	height: 100%;
	line-height: 1.5;
	overflow: hidden;
	color: $color-base;
	font-family: $font-family;
	@include fz($font-size-base);

	&.is-start {
		overflow: visible;
	}
}

a {
	@include linkColor($color-link);
}

#l-wrapper {
	position: relative;
	max-width: $width-sp;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	//overflow: hidden;
	background-color: #1f1f1f;
}

#l-wrapper img {
	display: block;
	width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

